<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="label">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title"> 
        </div>
        <div class="label">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image"> 
        </div>
        <div class="label">
            <label>Blog Content</label>
            <textarea name="blog[body]" placeholder="Blog Content"></textarea> 
        </div>
        <br>
        <input class="ui violet big inverted button" type="submit"> 
    </form>
</div>

<% include ./partials/footer %>