 i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

#footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 15px;
    font-family: cursive;
}